
/*font-family: 'Kaushan Script', cursive; 
font-family: 'Cabin', sans-serif;
font-family: 'Catamaran', sans-serif;*/
/* Palette di colori */

:root {
    --first: rgb(144, 123, 104);
    --second: #e7cfbcff;
    --third: #BF9D36;
    --fourth: #fff4ecff;
    --fifth: #5f1a37ff;
}

* {
    font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
    /* color: var(--fifth); */
}

::selection {
    background-color: rgba(255, 244, 236, 0.674);
}

/* Navbar */
.navbar {
    /* position: fixed; */
    /* height: 100px; */
    /* opacity: 0.75; */
    z-index: 1;
    background: linear-gradient(0deg, rgb(93, 6, 41) 0%, rgba(95,26,55,1) 100%);
    width: 100%;
    position: relative;
    box-shadow: -10px  10px 5px #000000;
}

#homepage-title {
    font-family: 'Playball', cursive;
    /* font-family: 'Kaushan Script', cursive; */
    font-size: 150px;
    color: var(--fifth);
    /* text-shadow: 5px 3px 8px black; */
}

#tutte-le-categorie {
    margin-bottom: 12vh;
}

/* Titolo come appare su smartphone */
@media (max-width: 500px) {
    #homepage-title {
        font-size: 10vh;
    }
}

#logo-navbar {
    font-family: 'Playball', cursive;
    font-size: 46px;
}

/* Sfondo */
.sfondo {
    background-image: linear-gradient(0deg, rgba(231,207,188,1) 0%, rgba(95,26,55,0.5) 100%), url("/public/media/clothes-1839935.jpg"); 
    /* Vecchio linear gradient: linear-gradient(0deg, rgb(231, 207, 188) 24%, rgba(95, 26, 55,.5) 81%)*/
    /* background-repeat: no-repeat; */
    background-size: cover; 
    height: 85vh;
}

.bg-uno {
    background-color: var(--second);
}

.bg-due {
    background-color: var(--fifth);
}

.testo-categorie {
    margin-top: 9vh;
}

.distanza-categorie {
    margin-bottom: 5vh;
}
/* iPhone 8 */
@media (max-width: 375px) { 
    .distanza-categorie {
        margin-bottom: 5vh;
    }
}

/* iPad */
@media (max-width: 768px) {
    .distanza-categorie {
        margin-bottom: 4vh;
        max-width: 60%;
    }
}

.sfondo-categorie {
    background: rgb(55,6,27);
    background: linear-gradient(0deg, rgb(93, 6, 41) 0%, rgba(95,26,55,1) 100%);
}

.card-img-overlay {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

.testo-card{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    background-color: rgba(88, 14, 43, 0.591);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.sfondo-sfocato{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: rgba(93, 6, 41, 0.7); /* Black w/opacity/see-through */
    height: 100px;
    width: 100%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.anim-cat:hover {
    animation: up 0.10s linear 0s 1 normal forwards;
}
.anim-cat {
    animation: down 0.10s linear 0s 1 normal forwards;
}

@keyframes up {
    0% { translate: 0 0;
    }
    100% {
        translate: 0 -15px;
    }
}
@keyframes down {
    0% { translate: 0 -15px;
    }
    100% {
        translate: 0 0;
    }
}

.item:hover {
    animation: ingrandimento 0.25s linear 0s 1 normal forwards;
    z-index: 1;
}
.item {
    animation: backToNormal 0.25s linear 0s 1 normal forwards;
    z-index: 0;
}

@keyframes ingrandimento {
    0% {transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes backToNormal {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.nav-link {
    font-size: 18px;
}

#card {
    border: none;
}


/* swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Bottoni */
.detail-button:hover{
    animation-timing-function: ease-in-out;
    /* color: black !importanlt; */
    transform: scale(1.2);
    /* background-color: var(--second); */
    transition-duration: 1s;
} 

#btn-search:hover{
    color: var(--fifth);
}

.btn-register-login{
    display:inline-block;
    padding:0.6em 1em;
    border:none;
    margin:0.2em 0.1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:"arial";
    font-weight:300;
    color:var(--fourth);
    border-radius:3em;
    text-align:center;
    transition: 0.1s;
    background: var(--third);
    cursor:pointer;
    font-weight:bold;
    letter-spacing: 0.05em;
}
.btn-home {
    display:inline-block;
    padding:0.6em 1em;
    /* border:none; */
    margin:0.2em 0.1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:"arial";
    font-weight:300;
    color:var(--fourth);
    border-radius:3em;
    text-align:center;
    transition: 0.1s;
    background: var(--first);
    cursor:pointer;
    font-weight:bold;
    letter-spacing: 0.05em;
    /* border: 2px solid var(--third); */
}
.btn-register-login:hover, .btn-register-login:active, .btn-register-login:focus{
    background:#d8b448;
}
.btn-home:hover, .btn-home:active, .btn-home:focus{
    background:rgb(105, 80, 55);
}

/* @keyframes myAnim {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
        background-color: var(--third);
        
    }
    
    
    100% {
        animation-timing-function: ease-out;
        transform: scale(1.2);
        background-color: var(--second);
    }
}
*/

/* Icone */
.icon {
    color: var(--fourth);
}

.icon2 {
    color: var(--fifth) !important;
}





/* Anteprima inserisci annuncio*/
#preview{
    height: 35vh;
    background-color: var(--second);
}

#shadow{
    box-shadow: #000000;
}

/* Login e register */
.form-user{
    background-color: var(--fifth);
    box-shadow: 15px 15px 5px 10px rgb(159, 132, 132);
    color: var(--fourth);
}


.modal-revisor{
    color: var(--second);
    background-color: var(--fifth);
}

/* Footer */
footer{
    background-color: var(--fifth);
}

