:root {
    --liberty: #4357adff;
    --champagne-pink: #e7cfbcff;
    --queen-blue: #33658aff;
    --seashell: #fff4ecff;
    --tyrian-purple: #5f1a37ff;
}


/* body {
    background-color: black;
} */